<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Analyzer</title>
</head>
<body>
  <nav>
    <ol>
      <li><a href="#">Contour Detection</a></li>
      <li><a href="#">Color Detection</a></li>
      <li><a href="#">Object Detection</a></li>
      <li><a href="#">Face Recognition</a></li>
      <li><a href="#">Text Recognition</a></li>
    </ol>
  </nav>

  <section>
    <form action="" method="get">
      <div>
        <label for="image">Image:</label>
        <input name="image" id="image" type="file" accept="image/png, image/gif, image/jpeg" />
      </div>
      <button type="submit">
        Submit
      </button>
    </form>
  </section>
</body>
</html>